@use "./variables" as *;

.header {
  background-color: $secondary-color;
  padding: 10px;
  height: 100px;
  width: 100%;

  &__title {
    background-color: $secondary-color;
    color: $primary-color;
    font-size: 40px;
  }

  &__sub-title {
    background-color: $secondary-color;
    color: $primary-color;
  }

  &__first-letter {
    font-size: 30px;
    background-color: $secondary-color;
    color: $tertiary-color;
  }

  &__restart-button {
    background-color: $primary-color;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 20px;
  }

  &__restart-button:hover {
    background-color: $tertiary-color;
    color: $primary-color;
  }
}
