@use "./variables" as *;

.rules {
  text-align: center;

  &__description,
  &__header {
    padding: 20px;
    font-family: $secondary-font;
    font-size: 1.2rem;
    list-style-type: none;
  }

  &__header {
    font-size: 2rem;
  }

  &__button {
    background-color: $primary-color;
    margin: 20px;
    padding: 10px 50px;
    font-size: 20px;
    border-radius: 20px;
  }

  &__button:hover {
    background-color: $secondary-color;
    color: $primary-color;
  }

  &__label,
  &__select {
    padding: 5px;
    font-size: 20px;
  }

  &__select,
  &__option {
    border-radius: 10px;
    background-color: $primary-color;
  }
}

@media screen and (min-width: 768px) {
  .rules {
    width: 60%;
  }
}
